/* hero section */
.hero{
    padding: 1rem;
    width: 100%;
    height: 70vh;
    background-image: url('/Media/ishan-seefromthesky-gtt803WswnA-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display:flex;
    align-items:center;
}
.hero .textcontent {
    margin: 0;
    padding: 1rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    text-align: center;
}

#dining{
    margin: 2rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr;
}

.dininggrid{
    height: 100%;
    margin: 0;
    background-color: #246095;
}

.dininggrid img{
    width: 100%;
    height: auto;
}
.dininggrid h2{
    margin-bottom: 1rem;
}
.dininggrid p{
    margin-bottom: 1rem;
}
.dininggrid figcaption{
    padding:  1.5rem;
    color: white;
    gap: 1rem;
}
.dininggrid figcaption ul li{
    list-style-type: none;
}

#other{
    border: solid #246095 2px;
    margin: 2rem;
    text-align: left;
    padding: 2rem;
}
#other h2{
    margin-bottom: 1rem;
}

@media only screen and (min-width:768px){
    #dining{
        grid-template-columns: repeat(2,1fr);
    }
    #dining :last-child{
        grid-column: span 2;
    }
}

@media only screen and (min-width:1000px){
    #dining{
        grid-template-columns: repeat(3,1fr);
    }
    #dining :last-child{
        grid-column: span 1;
    }
}