/* hero section */
.hero{
    padding: 1rem;
    width: 100%;
    height: 70vh;
    background-image: url("/CPRG-218-B-Final/Media/pexels-olly-3757657-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display:flex;
    align-items:center;
}
.hero .textcontent {
    margin: 0;
    padding: 1rem;
    color: white;
    font-family: 'Times New Roman', Times, serif; 
    text-align: center;
}

.hero .textcontent h1{
    font-size: 200%;
}

/* Menu section */
#spamenu{
    margin: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

.spagrid, .gridnodescription{
    height: 100%;
    margin: 0;
    border: solid 1px #246095;
}

h2{
    text-align: center;
    background-color: #246095;
    color: white;
    padding: 1rem;
}
.spagrid ul { 
    padding: 1rem;
    margin: 1rem;
}
.gridnodescription ul{
    margin-left: 1rem;
}
.gridnodescription ul li{
    padding: 1rem;
    margin: 1rem;
}
.gridnodescription:last-child ul{
    text-align: center;
    list-style-type: none;
}

.gridnodescription:last-child h2{
    text-align: center;
    list-style-type: none;
    background-color: #c27017;
}

@media only screen and (min-width:768px){
    #spamenu{
        grid-template-columns: repeat(2,1fr);
    }
    .gridnodescription:last-child{
        grid-column: span 2;
        text-align: center;
    }
}
@media only screen and (min-width:1000px){
    #spamenu{
        grid-template-columns: repeat(3,1fr);
    }
    .gridnodescription:last-child{
        grid-column: span 3;
        text-align: center;
    }
}
